<%-include("partials/header");-%>
<h1>Compose</h1>
<div class="form-group">
<form action="/compose" method="POST">
    <label for="tit">title</label>
<input id="tit" type="text" class="form-control"name="postTitle">
<label for="txtar">body</label>
<textarea name="postBody" id="txtar" class="form-control" cols="30" rows="10"></textarea>
<br>


<button type="submit" class="btn btn-primary mx-auto">publish </button>
</form>
</div>
<%-include("partials/footer");-%>
